In [1]:
# Dependencies and Setup
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from matplotlib import rcParams
import scipy.stats as sts
import os
from collections import Counter
import requests
import json

## 2012 US census data

In [2]:
# 2012 census data for all US zipcodes
#reading 2012 combined census data
path_comb_2012=os.path.join('output_census', 'census_comb_2012.csv')
usa_2012=pd.read_csv(path_comb_2012)

In [3]:
#looking for usa_2012 dataframe
usa_2012.head()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Rate,Unemployment Rate,House Value,House Construction Year,Monthly Owner Cost,...,White Population Rate,Black Population Rate,Hispanic Population Rate,Asian Population Rate,City,County,Lat,Lng,Housing_units,State
0,2655,3846.0,54.6,73323.0,50951.0,5.460218,4.056162,443500.0,1971.0,2566.0,...,96.515861,0.780031,1.586063,0.000000,Osterville,Barnstable County,41.630,-70.3900,3053.0,MA
1,2657,2974.0,52.9,46031.0,45142.0,14.122394,8.675185,467100.0,1945.0,2118.0,...,89.845326,5.749832,2.958978,0.638870,Provincetown,Barnstable County,42.050,-70.1800,4494.0,MA
2,2659,741.0,61.0,51466.0,36133.0,5.668016,4.183536,469800.0,1972.0,2082.0,...,95.546559,2.564103,2.564103,0.000000,South Chatham,Barnstable County,41.680,-70.0200,1297.0,MA
3,2660,5881.0,51.3,48617.0,28784.0,13.977215,2.941677,342800.0,1976.0,1685.0,...,89.899677,6.869580,0.850196,0.170039,South Dennis,Barnstable County,41.710,-70.1500,4551.0,MA
4,2663,96.0,34.7,21667.0,18307.0,0.000000,16.666667,1000001.0,1959.0,-666666666.0,...,100.000000,0.000000,0.000000,0.000000,South Wellfleet,Barnstable County,41.915,-70.0267,412.0,MA

In [4]:
#columns of 2012  dataframe
usa_2012.columns

Index(['Zipcode', 'Population', 'Median Age', 'Household Income',
       'Per Capita Income', 'Poverty Rate', 'Unemployment Rate', 'House Value',
       'House Construction Year', 'Monthly Owner Cost', 'Monthly Rent',
       'Public Transport Rate', 'Personal Transport Rate',
       'Commute Time Public', 'Commute Time Car', 'High School Rate',
       'College Rate', 'Uneducated Rate', 'English Language Rate',
       'Spanish Language Rate', 'White Population Rate',
       'Black Population Rate', 'Hispanic Population Rate',
       'Asian Population Rate', 'City', 'County', 'Lat', 'Lng',
       'Housing_units', 'State'],
      dtype='object')

In [5]:
#shape of the dataframe
usa_2012.shape

(33120, 30)

In [6]:
#removing the rows with house value less than 1
usa_2012=(usa_2012[(usa_2012['House Value']>0)&
                (usa_2012['Household Income']>0)&
                (usa_2012['Monthly Owner Cost']>0)&
                (usa_2012['Monthly Rent']>0)])

In [7]:
#looking for null value
usa_2012.isna().sum()

Zipcode                         0
Population                      0
Median Age                      0
Household Income                0
Per Capita Income               0
Poverty Rate                    0
Unemployment Rate               0
House Value                     0
House Construction Year         0
Monthly Owner Cost              0
Monthly Rent                    0
Public Transport Rate           0
Personal Transport Rate         0
Commute Time Public         19869
Commute Time Car            19869
High School Rate                0
College Rate                    0
Uneducated Rate                 0
English Language Rate           0
Spanish Language Rate           0
White Population Rate           0
Black Population Rate           0
Hispanic Population Rate        0
Asian Population Rate           0
City                            0
County                          1
Lat                            16
Lng                            16
Housing_units                  16
State                           0
dtype: int64

In [8]:
#removing the rows with lat and lng missing value
usa_2012.dropna(subset=['Lat', 'Lng','Housing_units','County','Public Transport Rate','Personal Transport Rate'], inplace=True)

In [9]:
#shape of the clean dataframe
usa_2012.shape

(28117, 30)

In [10]:
#info of the dataframe
usa_2012.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28117 entries, 0 to 33119
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Zipcode                   28117 non-null  int64
 1   Population                28117 non-null  float64
 2   Median Age                28117 non-null  float64
 3   Household Income          28117 non-null  float64
 4   Per Capita Income         28117 non-null  float64
 5   Poverty Rate              28117 non-null  float64
 6   Unemployment Rate         28117 non-null  float64
 7   House Value               28117 non-null  float64
 8   House Construction Year   28117 non-null  float64
 9   Monthly Owner Cost        28117 non-null  float64
 10  Monthly Rent              28117 non-null  float64
 11  Public Transport Rate     28117 non-null  float64
 12  Personal Transport Rate   28117 non-null  float64
 13  Commute Time Public       8259 non-null   float64
 14  Commute Time Car          8259 non-null   float64
 15  High School Rate          28117 non-null  float64
 16  College Rate              28117 non-null  float64
 17  Uneducated Rate           28117 non-null  float64
 18  English Language Rate     28117 non-null  float64
 19  Spanish Language Rate     28117 non-null  float64
 20  White Population Rate     28117 non-null  float64
 21  Black Population Rate     28117 non-null  float64
 22  Hispanic Population Rate  28117 non-null  float64
 23  Asian Population Rate     28117 non-null  float64
 24  City                      28117 non-null  object
 25  County                    28117 non-null  object
 26  Lat                       28117 non-null  float64
 27  Lng                       28117 non-null  float64
 28  Housing_units             28117 non-null  float64
 29  State                     28117 non-null  object
dtypes: float64(26), int64(1), object(3)
memory usage: 6.6+ MB

In [11]:
#describing the dataframe
usa_2012.describe()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Rate,Unemployment Rate,House Value,House Construction Year,Monthly Owner Cost,...,Uneducated Rate,English Language Rate,Spanish Language Rate,White Population Rate,Black Population Rate,Hispanic Population Rate,Asian Population Rate,Lat,Lng,Housing_units
count,28117.000000,28117.000000,28117.000000,28117.000000,28117.000000,28117.000000,28117.000000,2.811700e+04,2.811700e+04,28117.000000,...,28117.000000,28117.000000,28117.000000,28117.000000,28117.000000,28117.000000,28117.000000,28117.000000,28117.000000,28117.000000
mean,49388.148878,11019.865740,40.672622,52139.311306,26051.944695,14.410668,4.276343,1.760584e+05,-4.485288e+05,1383.062062,...,0.690191,83.175212,6.531190,83.645396,7.945606,9.057588,2.098207,38.803398,-90.773134,4697.903119
std,27442.191294,14382.112552,7.023980,21374.641248,11065.378109,9.643850,2.430352,1.432037e+05,1.732460e+07,603.047560,...,0.897510,15.940083,12.740299,20.456462,16.035753,16.237095,5.251050,5.293805,14.935529,5798.661168
min,602.000000,18.000000,14.500000,7892.000000,4724.000000,0.000000,0.000000,9.999000e+03,-6.666667e+08,185.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17.960000,-171.690000,11.000000
25%,27510.000000,1291.000000,36.200000,38639.000000,19591.000000,7.434944,2.717826,8.750000e+04,1.961000e+03,978.000000,...,0.093932,80.933897,0.622865,78.024007,0.000000,0.817677,0.000000,35.300000,-96.800000,647.000000
50%,49548.000000,4248.000000,40.500000,47740.000000,23697.000000,12.420267,3.974595,1.299000e+05,1.974000e+03,1200.000000,...,0.450766,88.858531,1.926010,92.147644,1.156160,2.928445,0.385356,39.600000,-88.080000,1955.000000
75%,71429.000000,16176.000000,44.800000,60401.000000,29377.000000,19.003831,5.494871,2.080000e+05,1.981000e+03,1603.000000,...,0.929019,92.254174,5.930711,97.281324,6.938454,8.875353,1.777362,42.170000,-80.200000,7067.000000
max,99929.000000,115538.000000,85.300000,250001.000000,156554.000000,84.210526,30.797101,1.000001e+06,2.006000e+03,4001.000000,...,17.821782,100.000000,93.499916,100.000000,100.000000,100.000000,70.586701,71.000000,-65.280000,47617.000000

In [12]:
usa_2012.columns

Index(['Zipcode', 'Population', 'Median Age', 'Household Income',
       'Per Capita Income', 'Poverty Rate', 'Unemployment Rate', 'House Value',
       'House Construction Year', 'Monthly Owner Cost', 'Monthly Rent',
       'Public Transport Rate', 'Personal Transport Rate',
       'Commute Time Public', 'Commute Time Car', 'High School Rate',
       'College Rate', 'Uneducated Rate', 'English Language Rate',
       'Spanish Language Rate', 'White Population Rate',
       'Black Population Rate', 'Hispanic Population Rate',
       'Asian Population Rate', 'City', 'County', 'Lat', 'Lng',
       'Housing_units', 'State'],
      dtype='object')

In [13]:
usa_2012.drop(['Commute Time Car','Commute Time Public'], axis=1, inplace=True)

In [14]:
usa_2012.shape

(28117, 28)

In [16]:
#selecting only required columns
usa_2012_redu=usa_2012[['Population', 'Median Age', 'Household Income',
       'Per Capita Income', 'Poverty Rate', 'Unemployment Rate', 'House Value',
       'House Construction Year', 'Monthly Owner Cost', 'Monthly Rent',
       'Public Transport Rate', 'Personal Transport Rate',
        'High School Rate',
       'College Rate', 'Uneducated Rate', 'White Population Rate', 'Black Population Rate',
       'Hispanic Population Rate', 'Asian Population Rate', 'City', 
       'Lat', 'Lng', 'Housing_units']]

In [17]:
#saving csv file for machine learning
#usa_2012_redu.to_csv('output_census/usa_2012_ml.csv', index=False)

## Looking for 2012 California census data

In [18]:
#reading 2012 combined california census data
path_ca_2012=os.path.join('output_census', 'census_ca_2012.csv')
ca_2012=pd.read_csv(path_ca_2012)

In [19]:
#looking for ca_2012 dataframe
ca_2012.head()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Rate,Unemployment Rate,House Value,House Construction Year,Monthly Owner Cost,...,White Population Rate,Black Population Rate,Hispanic Population Rate,Asian Population Rate,City,County,Lat,Lng,Housing_units,State
0,90001,54480.0,26.5,35658.0,11452.0,30.473568,4.495228,263100.0,1950.0,1650.0,...,69.799927,9.117107,89.864170,0.150514,Los Angeles,Los Angeles County,33.97,-118.25,13788.0,CA
1,90002,48613.0,25.4,32299.0,11323.0,32.371999,3.762368,238300.0,1952.0,1801.0,...,59.214613,27.157345,71.927262,0.154280,Los Angeles,Los Angeles County,33.95,-118.25,12598.0,CA
2,90003,67226.0,26.5,29174.0,10041.0,38.724601,5.703151,248400.0,1951.0,1834.0,...,37.219231,25.806979,72.635587,0.191890,Los Angeles,Los Angeles County,33.96,-118.27,17127.0,CA
3,90004,62884.0,35.5,38430.0,26497.0,22.566949,7.552001,818400.0,1950.0,3636.0,...,34.245595,3.003944,50.025444,26.238789,Los Angeles,Los Angeles County,34.08,-118.31,24278.0,CA
4,90005,39592.0,34.0,32086.0,18688.0,26.581128,6.483633,664400.0,1954.0,3150.0,...,23.262275,5.698121,55.094464,30.703172,Los Angeles,Los Angeles County,34.06,-118.31,16345.0,CA

In [20]:
#columns of 2012  dataframe
ca_2012.columns

Index(['Zipcode', 'Population', 'Median Age', 'Household Income',
       'Per Capita Income', 'Poverty Rate', 'Unemployment Rate', 'House Value',
       'House Construction Year', 'Monthly Owner Cost', 'Monthly Rent',
       'Public Transport Rate', 'Personal Transport Rate',
       'Commute Time Public', 'Commute Time Car', 'High School Rate',
       'College Rate', 'Uneducated Rate', 'English Language Rate',
       'Spanish Language Rate', 'White Population Rate',
       'Black Population Rate', 'Hispanic Population Rate',
       'Asian Population Rate', 'City', 'County', 'Lat', 'Lng',
       'Housing_units', 'State'],
      dtype='object')

In [21]:
#shape of the dataframe
ca_2012.shape

(1763, 30)

In [22]:

#removing the rows with house value less than 1
ca_2012=(ca_2012[(ca_2012['House Value']>0)&
                (ca_2012['Household Income']>0)&
                (ca_2012['Monthly Owner Cost']>0)&
                (ca_2012['Monthly Rent']>0)])

In [23]:
#looking for null value
ca_2012.isna().sum()

Zipcode                       0
Population                    0
Median Age                    0
Household Income              0
Per Capita Income             0
Poverty Rate                  0
Unemployment Rate             0
House Value                   0
House Construction Year       0
Monthly Owner Cost            0
Monthly Rent                  0
Public Transport Rate         0
Personal Transport Rate       0
Commute Time Public         983
Commute Time Car            983
High School Rate              0
College Rate                  0
Uneducated Rate               0
English Language Rate         0
Spanish Language Rate         0
White Population Rate         0
Black Population Rate         0
Hispanic Population Rate      0
Asian Population Rate         0
City                          0
County                        0
Lat                           0
Lng                           0
Housing_units                 0
State                         0
dtype: int64

In [24]:
#removing the rows with missing value
ca_2012.dropna(subset=['Public Transport Rate',
                        'Personal Transport Rate'], inplace=True)

In [25]:
#shape of the clean dataframe
ca_2012.shape

(1547, 30)

In [26]:
#filling nan to zero for commute time public and commute time car columns
ca_2012[['Commute Time Public', 'Commute Time Car' ]]=ca_2012[['Commute Time Public', 'Commute Time Car' ]].fillna(0)

In [27]:
ca_2012['Commute Time Public']

0               0.0
1           76350.0
2          199425.0
3          335725.0
4               0.0
           ...
1757            0.0
1758            0.0
1759            0.0
1760            0.0
1762   -666666666.0
Name: Commute Time Public, Length: 1547, dtype: float64

In [28]:
#converting to int
ca_2012['Population']=ca_2012['Population'].astype(int)

In [29]:
#info of the dataframe
ca_2012.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1547 entries, 0 to 1762
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Zipcode                   1547 non-null   int64
 1   Population                1547 non-null   int64
 2   Median Age                1547 non-null   float64
 3   Household Income          1547 non-null   float64
 4   Per Capita Income         1547 non-null   float64
 5   Poverty Rate              1547 non-null   float64
 6   Unemployment Rate         1547 non-null   float64
 7   House Value               1547 non-null   float64
 8   House Construction Year   1547 non-null   float64
 9   Monthly Owner Cost        1547 non-null   float64
 10  Monthly Rent              1547 non-null   float64
 11  Public Transport Rate     1547 non-null   float64
 12  Personal Transport Rate   1547 non-null   float64
 13  Commute Time Public       1547 non-null   float64
 14  Commute Time Car          1547 non-null   float64
 15  High School Rate          1547 non-null   float64
 16  College Rate              1547 non-null   float64
 17  Uneducated Rate           1547 non-null   float64
 18  English Language Rate     1547 non-null   float64
 19  Spanish Language Rate     1547 non-null   float64
 20  White Population Rate     1547 non-null   float64
 21  Black Population Rate     1547 non-null   float64
 22  Hispanic Population Rate  1547 non-null   float64
 23  Asian Population Rate     1547 non-null   float64
 24  City                      1547 non-null   object
 25  County                    1547 non-null   object
 26  Lat                       1547 non-null   float64
 27  Lng                       1547 non-null   float64
 28  Housing_units             1547 non-null   float64
 29  State                     1547 non-null   object
dtypes: float64(25), int64(2), object(3)
memory usage: 374.7+ KB

In [30]:
#describing the dataframe
ca_2012.describe()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Rate,Unemployment Rate,House Value,House Construction Year,Monthly Owner Cost,...,Uneducated Rate,English Language Rate,Spanish Language Rate,White Population Rate,Black Population Rate,Hispanic Population Rate,Asian Population Rate,Lat,Lng,Housing_units
count,1547.000000,1547.000000,1547.00000,1547.000000,1547.000000,1547.000000,1547.000000,1.547000e+03,1.547000e+03,1547.000000,...,1547.000000,1547.000000,1547.000000,1547.000000,1547.000000,1547.000000,1547.000000,1547.000000,1547.000000,1547.000000
mean,93565.122818,24048.784098,38.95585,63008.803491,31251.784098,14.772366,5.468423,4.071386e+05,-1.290856e+06,2256.952812,...,1.279813,61.770809,21.141619,70.349676,4.414414,30.253010,9.576873,36.280242,-119.881273,8814.270847
std,1810.342173,21343.827782,8.42522,27174.825791,16772.533389,9.552361,2.544703,2.393809e+05,2.933894e+07,768.361998,...,1.389086,22.403969,19.736516,19.194346,7.479191,24.116921,12.530853,2.389481,2.118511,7173.288804
min,90001.000000,93.000000,17.90000,12358.000000,6599.000000,0.000000,0.000000,9.999000e+03,-6.666667e+08,250.000000,...,0.000000,1.746217,0.000000,5.793502,0.000000,0.000000,0.000000,32.550000,-124.300000,54.000000
25%,92206.500000,3763.000000,32.60000,43090.500000,20200.500000,7.572469,3.983915,2.250000e+05,1.964000e+03,1676.000000,...,0.275036,46.094848,6.053050,58.585233,0.577613,10.948763,1.282235,34.040000,-121.855000,1813.000000
50%,93614.000000,20774.000000,38.00000,57040.000000,27169.000000,12.455816,5.205743,3.486000e+05,1.974000e+03,2177.000000,...,0.890618,65.008081,13.812099,74.476897,1.988042,22.439024,4.928294,36.520000,-119.900000,8021.000000
75%,95322.500000,37664.500000,44.30000,77483.000000,38097.000000,19.865588,6.695697,5.450000e+05,1.981000e+03,2732.500000,...,1.842265,80.435234,31.635865,85.640436,5.117785,44.284007,11.964121,38.070000,-118.050000,14037.000000
max,96161.000000,105603.000000,76.20000,224423.000000,137573.000000,57.158361,26.562500,1.000001e+06,2.005000e+03,4001.000000,...,11.864407,100.000000,86.434109,100.000000,86.251343,100.000000,70.586701,41.940000,-114.300000,37182.000000

In [31]:
#saving csv file for plotting
#ca_2012.to_csv('output_census/ca_2012_fg.csv', index=False)

## 2014 US census data

In [32]:
# 2014 census data for all US zipcodes
#reading 2014 combined census data
path_comb_2014=os.path.join('output_census', 'census_comb_2014.csv')
usa_2014=pd.read_csv(path_comb_2014)

In [33]:
#looking for usa_2014 dataframe
usa_2014.head()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Rate,Unemployment Rate,House Value,House Construction Year,Monthly Owner Cost,...,White Population Rate,Black Population Rate,Hispanic Population Rate,Asian Population Rate,City,County,Lat,Lng,Housing_units,State
0,601,18088.0,37.1,10833.0,7229.0,60.321760,11.012826,105400.0,1982.0,722.0,...,96.240602,0.967492,99.806502,0.000000,Adjuntas,Adjuntas Municipio,NaN,NaN,NaN,PR
1,602,40859.0,39.0,16353.0,9048.0,53.168213,10.639027,91200.0,1980.0,843.0,...,58.540346,2.684843,93.203456,0.183558,Aguada,Aguada Municipio,18.36,-67.18,18073.0,PR
2,603,53162.0,39.2,16323.0,9888.0,48.957902,7.623867,128700.0,1977.0,841.0,...,73.001392,3.598435,96.275535,1.183176,Aguadilla,Aguadilla Municipio,18.45,-67.11,25653.0,PR
3,606,6415.0,39.2,14138.0,6385.0,58.893219,2.681216,105800.0,1977.0,569.0,...,87.622759,2.400624,99.890881,0.000000,Maricao,Maricao Municipio,18.20,-66.90,2877.0,PR
4,610,28805.0,39.7,17265.0,8197.0,49.119944,4.481861,113700.0,1979.0,752.0,...,67.127235,3.478563,99.121680,0.090262,Anasco,Aasco Municipio,18.28,-67.13,12618.0,PR

In [34]:
#columns of 2017  dataframe
usa_2014.columns

Index(['Zipcode', 'Population', 'Median Age', 'Household Income',
       'Per Capita Income', 'Poverty Rate', 'Unemployment Rate', 'House Value',
       'House Construction Year', 'Monthly Owner Cost', 'Monthly Rent',
       'Public Transport Rate', 'Personal Transport Rate',
       'Commute Time Public', 'Commute Time Car', 'High School Rate',
       'College Rate', 'Uneducated Rate', 'English Language Rate',
       'Spanish Language Rate', 'White Population Rate',
       'Black Population Rate', 'Hispanic Population Rate',
       'Asian Population Rate', 'City', 'County', 'Lat', 'Lng',
       'Housing_units', 'State'],
      dtype='object')

In [35]:
#shape of the dataframe
usa_2014.shape

(33120, 30)

In [36]:
#removing the rows with house value less than 1
usa_2014=(usa_2014[(usa_2014['House Value']>0)&
                (usa_2014['Household Income']>0)&
                (usa_2014['Monthly Owner Cost']>0)&
                (usa_2014['Monthly Rent']>0)])

In [37]:
#looking for null value
usa_2014.isna().sum()

Zipcode                         0
Population                      0
Median Age                      0
Household Income                0
Per Capita Income               0
Poverty Rate                    0
Unemployment Rate               0
House Value                     0
House Construction Year         0
Monthly Owner Cost              0
Monthly Rent                    0
Public Transport Rate           0
Personal Transport Rate         0
Commute Time Public         19236
Commute Time Car            19236
High School Rate                0
College Rate                    0
Uneducated Rate                 0
English Language Rate           0
Spanish Language Rate           0
White Population Rate           0
Black Population Rate           0
Hispanic Population Rate        0
Asian Population Rate           0
City                            0
County                          1
Lat                            16
Lng                            16
Housing_units                  16
State                           0
dtype: int64

In [38]:
#removing the rows with lat and lng missing value
usa_2014.dropna(subset=['Lat', 'Lng','Housing_units','County'], inplace=True)

In [39]:
#shape of the clean dataframe
usa_2014.shape

(27309, 30)

In [40]:
#info of the dataframe
usa_2014.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27309 entries, 1 to 33119
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Zipcode                   27309 non-null  int64
 1   Population                27309 non-null  float64
 2   Median Age                27309 non-null  float64
 3   Household Income          27309 non-null  float64
 4   Per Capita Income         27309 non-null  float64
 5   Poverty Rate              27309 non-null  float64
 6   Unemployment Rate         27309 non-null  float64
 7   House Value               27309 non-null  float64
 8   House Construction Year   27309 non-null  float64
 9   Monthly Owner Cost        27309 non-null  float64
 10  Monthly Rent              27309 non-null  float64
 11  Public Transport Rate     27309 non-null  float64
 12  Personal Transport Rate   27309 non-null  float64
 13  Commute Time Public       8083 non-null   float64
 14  Commute Time Car          8083 non-null   float64
 15  High School Rate          27309 non-null  float64
 16  College Rate              27309 non-null  float64
 17  Uneducated Rate           27309 non-null  float64
 18  English Language Rate     27309 non-null  float64
 19  Spanish Language Rate     27309 non-null  float64
 20  White Population Rate     27309 non-null  float64
 21  Black Population Rate     27309 non-null  float64
 22  Hispanic Population Rate  27309 non-null  float64
 23  Asian Population Rate     27309 non-null  float64
 24  City                      27309 non-null  object
 25  County                    27309 non-null  object
 26  Lat                       27309 non-null  float64
 27  Lng                       27309 non-null  float64
 28  Housing_units             27309 non-null  float64
 29  State                     27309 non-null  object
dtypes: float64(26), int64(1), object(3)
memory usage: 6.5+ MB

In [41]:
#describing the dataframe
usa_2014.describe()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Rate,Unemployment Rate,House Value,House Construction Year,Monthly Owner Cost,...,Uneducated Rate,English Language Rate,Spanish Language Rate,White Population Rate,Black Population Rate,Hispanic Population Rate,Asian Population Rate,Lat,Lng,Housing_units
count,27309.000000,27309.000000,27309.000000,27309.000000,27309.000000,27309.000000,27309.000000,2.730900e+04,2.730900e+04,27309.000000,...,27309.000000,27309.000000,27309.000000,27309.000000,27309.000000,27309.000000,27309.000000,27309.000000,27309.000000,27309.000000
mean,49419.281482,11505.769673,41.059101,52982.813651,26739.096891,14.971887,4.199701,1.734267e+05,-3.642087e+05,1370.647076,...,0.716031,83.064133,6.671967,83.198601,8.069067,9.471286,2.222007,38.791070,-90.776525,4827.541470
std,27458.657013,14783.651164,7.022113,21519.471043,11238.376230,9.597394,2.338680,1.401580e+05,1.562037e+07,579.564139,...,0.846832,16.039852,12.816052,20.481634,15.946077,16.390090,5.410024,5.307905,14.954192,5833.514251
min,602.000000,34.000000,15.000000,2499.000000,3471.000000,0.000000,0.000000,1.330000e+04,-6.666667e+08,191.000000,...,0.000000,0.457666,0.000000,0.000000,0.000000,0.000000,0.000000,17.960000,-171.690000,23.000000
25%,27603.000000,1413.000000,36.500000,39298.000000,20160.000000,8.018154,2.684753,8.830000e+04,1.962000e+03,987.000000,...,0.150150,80.619183,0.641787,77.301387,0.067843,1.030928,0.000000,35.300000,-96.800000,706.000000
50%,49508.000000,4564.000000,40.900000,48650.000000,24382.000000,12.964406,3.908065,1.295000e+05,1.974000e+03,1195.000000,...,0.490998,88.894879,1.964619,91.659480,1.306783,3.249110,0.451170,39.600000,-88.050000,2091.000000
75%,71469.000000,16945.000000,45.200000,61313.000000,30179.000000,19.728267,5.342179,2.017000e+05,1.983000e+03,1567.000000,...,0.979432,92.377826,6.167457,96.991796,7.257073,9.451050,1.893916,42.170000,-80.210000,7332.000000
max,99929.000000,115013.000000,81.400000,250001.000000,173257.000000,75.332068,36.842105,1.000001e+06,2.008000e+03,4001.000000,...,14.909091,100.000000,94.440094,100.000000,100.000000,100.000000,73.655063,71.000000,-65.280000,47617.000000

In [42]:
usa_2014.columns

Index(['Zipcode', 'Population', 'Median Age', 'Household Income',
       'Per Capita Income', 'Poverty Rate', 'Unemployment Rate', 'House Value',
       'House Construction Year', 'Monthly Owner Cost', 'Monthly Rent',
       'Public Transport Rate', 'Personal Transport Rate',
       'Commute Time Public', 'Commute Time Car', 'High School Rate',
       'College Rate', 'Uneducated Rate', 'English Language Rate',
       'Spanish Language Rate', 'White Population Rate',
       'Black Population Rate', 'Hispanic Population Rate',
       'Asian Population Rate', 'City', 'County', 'Lat', 'Lng',
       'Housing_units', 'State'],
      dtype='object')

In [43]:
usa_2014.drop(['Commute Time Car','Commute Time Public'], axis=1, inplace=True)

In [44]:
usa_2014.shape

(27309, 28)

In [45]:
#selecting only required columns
usa_2014_redu=usa_2014[['Population', 'Median Age', 'Household Income',
       'Per Capita Income', 'Poverty Rate', 'Unemployment Rate', 'House Value',
       'House Construction Year', 'Monthly Owner Cost', 'Monthly Rent',
       'Public Transport Rate', 'Personal Transport Rate',
        'High School Rate',
       'College Rate', 'Uneducated Rate', 'White Population Rate', 'Black Population Rate',
       'Hispanic Population Rate', 'Asian Population Rate', 'City', 
       'Lat', 'Lng', 'Housing_units']]

In [46]:
#saving csv file for machine learning
#usa_2014_redu.to_csv('output_census/usa_2014_ml.csv', index=False)

## 2014 California census data

In [47]:
#reading 2014 combined california census data
path_ca_2014=os.path.join('output_census', 'census_ca_2014.csv')
ca_2014=pd.read_csv(path_ca_2014)

In [48]:
#looking for ca_2014 dataframe
ca_2014.head()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Rate,Unemployment Rate,House Value,House Construction Year,Monthly Owner Cost,...,White Population Rate,Black Population Rate,Hispanic Population Rate,Asian Population Rate,City,County,Lat,Lng,Housing_units,State
0,90001,56314.0,27.3,34050.0,11224.0,33.551160,5.645133,241800.0,1951.0,1649.0,...,49.893455,9.464787,89.814256,0.147388,Los Angeles,Los Angeles County,33.97,-118.25,13788.0,CA
1,90002,50098.0,26.2,30214.0,10497.0,36.159128,5.561100,218800.0,1951.0,1633.0,...,48.375185,24.583816,74.184598,0.301409,Los Angeles,Los Angeles County,33.95,-118.25,12598.0,CA
2,90003,66913.0,26.8,30016.0,9915.0,38.381182,6.874598,228600.0,1949.0,1683.0,...,22.385785,24.637963,74.111159,0.361664,Los Angeles,Los Angeles County,33.96,-118.27,17127.0,CA
3,90004,63547.0,35.8,38493.0,26575.0,25.135726,7.929564,724900.0,1949.0,3578.0,...,34.542937,3.573733,50.831668,25.648732,Los Angeles,Los Angeles County,34.08,-118.31,24278.0,CA
4,90005,38638.0,34.0,31214.0,19305.0,28.316683,7.000880,635500.0,1953.0,3252.0,...,19.550701,4.280760,52.792588,33.324706,Los Angeles,Los Angeles County,34.06,-118.31,16345.0,CA

In [49]:
#columns of 2014  dataframe
ca_2014.columns

Index(['Zipcode', 'Population', 'Median Age', 'Household Income',
       'Per Capita Income', 'Poverty Rate', 'Unemployment Rate', 'House Value',
       'House Construction Year', 'Monthly Owner Cost', 'Monthly Rent',
       'Public Transport Rate', 'Personal Transport Rate',
       'Commute Time Public', 'Commute Time Car', 'High School Rate',
       'College Rate', 'Uneducated Rate', 'English Language Rate',
       'Spanish Language Rate', 'White Population Rate',
       'Black Population Rate', 'Hispanic Population Rate',
       'Asian Population Rate', 'City', 'County', 'Lat', 'Lng',
       'Housing_units', 'State'],
      dtype='object')

In [50]:
#shape of the dataframe
ca_2014.shape

(1763, 30)

In [51]:
#removing the rows with house value less than 1
ca_2014=(ca_2014[(ca_2014['House Value']>0)&
                (ca_2014['Household Income']>0)&
                (ca_2014['Monthly Owner Cost']>0)&
                (ca_2014['Monthly Rent']>0)])

In [52]:
#looking for null value
ca_2014.isna().sum()

Zipcode                       0
Population                    0
Median Age                    0
Household Income              0
Per Capita Income             0
Poverty Rate                  0
Unemployment Rate             0
House Value                   0
House Construction Year       0
Monthly Owner Cost            0
Monthly Rent                  0
Public Transport Rate         0
Personal Transport Rate       0
Commute Time Public         937
Commute Time Car            937
High School Rate              0
College Rate                  0
Uneducated Rate               0
English Language Rate         0
Spanish Language Rate         0
White Population Rate         0
Black Population Rate         0
Hispanic Population Rate      0
Asian Population Rate         0
City                          0
County                        0
Lat                           0
Lng                           0
Housing_units                 0
State                         0
dtype: int64

In [53]:
#removing the rows with missing value

In [54]:
#shape of the clean dataframe
ca_2014.shape

(1522, 30)

In [55]:
#filling nan to zero for commute time public and commute time car columns
ca_2014[['Commute Time Public', 'Commute Time Car' ]]=ca_2014[['Commute Time Public', 'Commute Time Car' ]].fillna(0)

In [56]:
ca_2014['Commute Time Public']

0            0.0
1            0.0
2            0.0
3            0.0
4       324945.0
          ...
1757         0.0
1758         0.0
1759         0.0
1760         0.0
1762      3510.0
Name: Commute Time Public, Length: 1522, dtype: float64

In [57]:
#converting to int
ca_2014['Population']=ca_2014['Population'].astype(int)

In [58]:
#info of the dataframe
ca_2014.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1522 entries, 0 to 1762
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Zipcode                   1522 non-null   int64
 1   Population                1522 non-null   int64
 2   Median Age                1522 non-null   float64
 3   Household Income          1522 non-null   float64
 4   Per Capita Income         1522 non-null   float64
 5   Poverty Rate              1522 non-null   float64
 6   Unemployment Rate         1522 non-null   float64
 7   House Value               1522 non-null   float64
 8   House Construction Year   1522 non-null   float64
 9   Monthly Owner Cost        1522 non-null   float64
 10  Monthly Rent              1522 non-null   float64
 11  Public Transport Rate     1522 non-null   float64
 12  Personal Transport Rate   1522 non-null   float64
 13  Commute Time Public       1522 non-null   float64
 14  Commute Time Car          1522 non-null   float64
 15  High School Rate          1522 non-null   float64
 16  College Rate              1522 non-null   float64
 17  Uneducated Rate           1522 non-null   float64
 18  English Language Rate     1522 non-null   float64
 19  Spanish Language Rate     1522 non-null   float64
 20  White Population Rate     1522 non-null   float64
 21  Black Population Rate     1522 non-null   float64
 22  Hispanic Population Rate  1522 non-null   float64
 23  Asian Population Rate     1522 non-null   float64
 24  City                      1522 non-null   object
 25  County                    1522 non-null   object
 26  Lat                       1522 non-null   float64
 27  Lng                       1522 non-null   float64
 28  Housing_units             1522 non-null   float64
 29  State                     1522 non-null   object
dtypes: float64(25), int64(2), object(3)
memory usage: 368.6+ KB

In [59]:
#describing the dataframe
ca_2014.describe()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Rate,Unemployment Rate,House Value,House Construction Year,Monthly Owner Cost,...,Uneducated Rate,English Language Rate,Spanish Language Rate,White Population Rate,Black Population Rate,Hispanic Population Rate,Asian Population Rate,Lat,Lng,Housing_units
count,1522.000000,1522.000000,1522.000000,1522.000000,1522.000000,1522.000000,1522.000000,1.522000e+03,1.522000e+03,1522.000000,...,1522.000000,1522.000000,1522.000000,1522.000000,1522.000000,1522.000000,1522.000000,1522.000000,1522.000000,1522.000000
mean,93539.881735,24921.280552,39.341261,63507.358739,31664.410644,15.881693,5.385945,3.957641e+05,-1.312091e+06,2169.457293,...,1.327455,61.341740,21.582434,70.096391,4.374840,31.128500,9.889242,36.242860,-119.864004,8952.837714
std,1809.106050,21738.789366,8.360244,28018.092753,17290.294270,9.948832,2.304112,2.435137e+05,2.957860e+07,771.374170,...,1.354359,22.292218,19.794825,19.237403,7.231777,24.164714,12.722516,2.377918,2.123243,7149.237212
min,90001.000000,60.000000,19.400000,11922.000000,5447.000000,0.000000,0.000000,2.290000e+04,-6.666667e+08,427.000000,...,0.000000,2.068966,0.000000,9.683246,0.000000,0.000000,0.000000,32.550000,-124.300000,73.000000
25%,92133.000000,4224.750000,33.300000,42884.750000,20257.250000,8.459435,3.921377,2.098250e+05,1.964250e+03,1577.000000,...,0.357259,45.488645,6.375936,58.009157,0.633355,11.473228,1.373819,34.030000,-121.847500,2006.000000
50%,93601.500000,21869.000000,38.250000,57572.500000,27425.500000,13.725463,5.201682,3.383000e+05,1.974000e+03,2055.000000,...,0.941894,64.479291,14.623649,73.867406,1.999297,23.688378,5.176376,36.400000,-119.800000,8263.500000
75%,95312.500000,38809.500000,44.375000,78115.500000,38500.500000,20.956887,6.634944,5.372500e+05,1.981000e+03,2626.750000,...,1.932254,79.773132,31.542838,85.251058,5.041452,45.130166,12.433580,38.030000,-118.040000,14239.000000
max,96161.000000,106521.000000,74.500000,236912.000000,142620.000000,67.642753,24.843750,1.000001e+06,2.005000e+03,4001.000000,...,10.763889,100.000000,89.793103,100.000000,81.710857,100.000000,73.655063,41.940000,-114.300000,37182.000000

In [61]:
#saving csv file for plotting
#ca_2014.to_csv('output_census/ca_2014_fg.csv', index=False)

## 2015 US census data

In [62]:
# 2015 census data for all US zipcodes
#reading 2015 combined census data
path_comb_2015=os.path.join('output_census', 'census_comb_2015.csv')
usa_2015=pd.read_csv(path_comb_2015)

In [63]:
#looking for usa_2015 dataframe
usa_2015.head()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Rate,Unemployment Rate,House Value,House Construction Year,Monthly Owner Cost,...,White Population Rate,Black Population Rate,Hispanic Population Rate,Asian Population Rate,City,County,Lat,Lng,Housing_units,State
0,12810,724.0,46.5,57500.0,25551.0,10.773481,2.762431,116200.0,1975.0,1054.0,...,99.033149,0.000000,1.933702,0.276243,Athol,Warren County,43.480,-73.880,363.0,NY
1,12811,67.0,45.9,-666666666.0,11590.0,0.000000,29.850746,-666666666.0,1976.0,-666666666.0,...,100.000000,0.000000,0.000000,0.000000,Bakers Mills,Warren County,43.622,-74.035,65.0,NY
2,12812,58.0,64.1,49583.0,23600.0,0.000000,0.000000,122500.0,1950.0,NaN,...,100.000000,0.000000,0.000000,0.000000,Blue Mountain Lake,Hamilton County,43.900,-74.300,324.0,NY
3,12814,1282.0,46.4,58176.0,35508.0,3.978159,0.936037,317100.0,1977.0,1670.0,...,89.859594,2.808112,2.496100,1.092044,Bolton Landing,Warren County,43.600,-73.600,1822.0,NY
4,12815,1103.0,54.2,60458.0,30685.0,14.415231,2.629193,227300.0,1976.0,1149.0,...,91.296464,1.359927,0.543971,0.000000,Brant Lake,Warren County,43.690,-73.710,1112.0,NY

In [64]:
#columns of 2017  dataframe
usa_2015.columns

Index(['Zipcode', 'Population', 'Median Age', 'Household Income',
       'Per Capita Income', 'Poverty Rate', 'Unemployment Rate', 'House Value',
       'House Construction Year', 'Monthly Owner Cost', 'Monthly Rent',
       'Public Transport Rate', 'Personal Transport Rate',
       'Commute Time Public', 'Commute Time Car', 'High School Rate',
       'College Rate', 'Uneducated Rate', 'English Language Rate',
       'Spanish Language Rate', 'White Population Rate',
       'Black Population Rate', 'Hispanic Population Rate',
       'Asian Population Rate', 'City', 'County', 'Lat', 'Lng',
       'Housing_units', 'State'],
      dtype='object')

In [65]:
#shape of the dataframe
usa_2015.shape

(33120, 30)

In [66]:
#removing the rows with house value less than 1
usa_2015=(usa_2015[(usa_2015['House Value']>0)&
                (usa_2015['Household Income']>0)&
                (usa_2015['Monthly Owner Cost']>0)&
                (usa_2015['Monthly Rent']>0)])

In [67]:
#looking for null value
usa_2015.isna().sum()

Zipcode                         0
Population                      0
Median Age                      0
Household Income                0
Per Capita Income               0
Poverty Rate                    0
Unemployment Rate               0
House Value                     0
House Construction Year         0
Monthly Owner Cost              0
Monthly Rent                    0
Public Transport Rate           0
Personal Transport Rate         0
Commute Time Public         18461
Commute Time Car            18461
High School Rate                0
College Rate                    0
Uneducated Rate                 0
English Language Rate           0
Spanish Language Rate           0
White Population Rate           0
Black Population Rate           0
Hispanic Population Rate        0
Asian Population Rate           0
City                            0
County                          1
Lat                            15
Lng                            15
Housing_units                  15
State                           0
dtype: int64

In [68]:
#removing the rows with lat and lng missing value
usa_2015.dropna(subset=['Lat', 'Lng','Housing_units','County','Monthly Rent'], inplace=True)

In [69]:
#shape of the clean dataframe
usa_2015.shape

(26520, 30)

In [70]:
#info of the dataframe
usa_2015.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26520 entries, 0 to 32151
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Zipcode                   26520 non-null  int64
 1   Population                26520 non-null  float64
 2   Median Age                26520 non-null  float64
 3   Household Income          26520 non-null  float64
 4   Per Capita Income         26520 non-null  float64
 5   Poverty Rate              26520 non-null  float64
 6   Unemployment Rate         26520 non-null  float64
 7   House Value               26520 non-null  float64
 8   House Construction Year   26520 non-null  float64
 9   Monthly Owner Cost        26520 non-null  float64
 10  Monthly Rent              26520 non-null  float64
 11  Public Transport Rate     26520 non-null  float64
 12  Personal Transport Rate   26520 non-null  float64
 13  Commute Time Public       8068 non-null   float64
 14  Commute Time Car          8068 non-null   float64
 15  High School Rate          26520 non-null  float64
 16  College Rate              26520 non-null  float64
 17  Uneducated Rate           26520 non-null  float64
 18  English Language Rate     26520 non-null  float64
 19  Spanish Language Rate     26520 non-null  float64
 20  White Population Rate     26520 non-null  float64
 21  Black Population Rate     26520 non-null  float64
 22  Hispanic Population Rate  26520 non-null  float64
 23  Asian Population Rate     26520 non-null  float64
 24  City                      26520 non-null  object
 25  County                    26520 non-null  object
 26  Lat                       26520 non-null  float64
 27  Lng                       26520 non-null  float64
 28  Housing_units             26520 non-null  float64
 29  State                     26520 non-null  object
dtypes: float64(26), int64(1), object(3)
memory usage: 6.3+ MB

In [71]:
#describing the dataframe
usa_2015.describe()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Rate,Unemployment Rate,House Value,House Construction Year,Monthly Owner Cost,...,Uneducated Rate,English Language Rate,Spanish Language Rate,White Population Rate,Black Population Rate,Hispanic Population Rate,Asian Population Rate,Lat,Lng,Housing_units
count,26520.000000,26520.000000,26520.000000,26520.000000,26520.000000,26520.000000,26520.000000,2.652000e+04,2.652000e+04,26520.000000,...,26520.000000,26520.000000,26520.000000,26520.000000,26520.000000,26520.000000,26520.000000,26520.000000,26520.000000,26520.000000
mean,49300.115196,11897.695098,41.233035,53720.226848,27205.603130,14.752829,3.782608,1.780898e+05,-2.494109e+05,1353.576810,...,0.723319,82.983209,6.772826,83.019639,8.132953,9.705921,2.313055,38.780550,-90.674483,4952.929449
std,27397.347897,15042.754543,6.978946,21799.128766,11451.971112,9.340180,2.101504,1.538960e+05,1.294344e+07,566.226205,...,0.826808,16.084671,12.889574,20.380799,15.878561,16.474828,5.544865,5.303274,14.862191,5868.222157
min,602.000000,37.000000,15.200000,6478.000000,4565.000000,0.000000,0.000000,9.999000e+03,-6.666667e+08,350.000000,...,0.000000,0.789474,0.000000,0.000000,0.000000,0.000000,0.000000,17.960000,-171.690000,23.000000
25%,27607.750000,1522.500000,36.700000,39906.250000,20499.750000,7.951188,2.396363,8.990000e+04,1.963000e+03,981.000000,...,0.177620,80.571510,0.670185,77.040055,0.130929,1.167315,0.000000,35.250000,-96.700000,760.000000
50%,49424.500000,4883.500000,41.100000,49407.500000,24782.000000,12.838395,3.500746,1.324000e+05,1.975000e+03,1179.000000,...,0.506650,88.909804,2.045199,91.392991,1.380963,3.500261,0.494600,39.650000,-88.000000,2232.500000
75%,71340.250000,17683.000000,45.400000,61927.000000,30641.250000,19.459827,4.801728,2.046000e+05,1.983000e+03,1538.000000,...,0.983658,92.361111,6.227388,96.828800,7.522376,9.709316,2.006423,42.170000,-80.200000,7564.250000
max,99929.000000,114982.000000,82.000000,250001.000000,184886.000000,75.880325,20.666667,2.000001e+06,2.009000e+03,4001.000000,...,15.625000,100.000000,96.605263,100.000000,100.000000,100.000000,73.318034,71.000000,-65.280000,47617.000000

In [72]:
usa_2015.columns

Index(['Zipcode', 'Population', 'Median Age', 'Household Income',
       'Per Capita Income', 'Poverty Rate', 'Unemployment Rate', 'House Value',
       'House Construction Year', 'Monthly Owner Cost', 'Monthly Rent',
       'Public Transport Rate', 'Personal Transport Rate',
       'Commute Time Public', 'Commute Time Car', 'High School Rate',
       'College Rate', 'Uneducated Rate', 'English Language Rate',
       'Spanish Language Rate', 'White Population Rate',
       'Black Population Rate', 'Hispanic Population Rate',
       'Asian Population Rate', 'City', 'County', 'Lat', 'Lng',
       'Housing_units', 'State'],
      dtype='object')

In [73]:
usa_2015.drop(['Commute Time Car','Commute Time Public'], axis=1, inplace=True)

In [ ]:
usa_2015.shape

In [74]:
#selecting only required columns
usa_2015_redu=usa_2015[['Population', 'Median Age', 'Household Income',
       'Per Capita Income', 'Poverty Rate', 'Unemployment Rate', 'House Value',
       'House Construction Year', 'Monthly Owner Cost', 'Monthly Rent',
       'Public Transport Rate', 'Personal Transport Rate',
        'High School Rate',
       'College Rate', 'Uneducated Rate', 'White Population Rate', 'Black Population Rate',
       'Hispanic Population Rate', 'Asian Population Rate', 'City', 
       'Lat', 'Lng', 'Housing_units']]

In [76]:
#saving csv file for machine learning
#usa_2015_redu.to_csv('output_census/usa_2015_ml.csv', index=False)

## 2015 California census data

In [77]:
#reading 2015 combined california census data
path_ca_2015=os.path.join('output_census', 'census_ca_2015.csv')
ca_2015=pd.read_csv(path_ca_2015)

In [78]:
#looking for ca_2015 dataframe
ca_2015.head()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Rate,Unemployment Rate,House Value,House Construction Year,Monthly Owner Cost,...,White Population Rate,Black Population Rate,Hispanic Population Rate,Asian Population Rate,City,County,Lat,Lng,Housing_units,State
0,95422,15476.0,42.3,25578.0,16355.0,36.792453,8.419488,86800.0,1976.0,1123.0,...,72.221504,6.216077,23.901525,0.394159,Clearlake,Lake County,38.97,-122.64,8546.0,CA
1,95423,3260.0,55.8,27889.0,18760.0,33.067485,7.239264,160100.0,1975.0,1307.0,...,89.969325,1.717791,6.349693,0.490798,Clearlake Oaks,Lake County,39.10,-122.60,2680.0,CA
2,95425,10597.0,42.3,60517.0,29688.0,8.106068,3.189582,353400.0,1982.0,2026.0,...,77.691800,0.990846,31.112579,4.916486,Cloverdale,Sonoma County,38.80,-123.00,4544.0,CA
3,95426,1544.0,50.9,62833.0,27425.0,24.740933,4.274611,195100.0,1979.0,1295.0,...,91.904145,0.000000,7.707254,6.282383,Cobb,Lake County,38.81,-122.73,1315.0,CA
4,95428,2365.0,40.1,30975.0,16874.0,31.585624,7.906977,235800.0,1973.0,1250.0,...,57.589852,0.507400,16.490486,0.126850,Covelo,Mendocino County,39.70,-123.10,1160.0,CA

In [79]:
#columns of 2015  dataframe
ca_2015.columns

Index(['Zipcode', 'Population', 'Median Age', 'Household Income',
       'Per Capita Income', 'Poverty Rate', 'Unemployment Rate', 'House Value',
       'House Construction Year', 'Monthly Owner Cost', 'Monthly Rent',
       'Public Transport Rate', 'Personal Transport Rate',
       'Commute Time Public', 'Commute Time Car', 'High School Rate',
       'College Rate', 'Uneducated Rate', 'English Language Rate',
       'Spanish Language Rate', 'White Population Rate',
       'Black Population Rate', 'Hispanic Population Rate',
       'Asian Population Rate', 'City', 'County', 'Lat', 'Lng',
       'Housing_units', 'State'],
      dtype='object')

In [80]:
#shape of the dataframe
ca_2015.shape

(1763, 30)

In [81]:
#removing the rows with house value less than 1
ca_2015=(ca_2015[(ca_2015['House Value']>0)&
                (ca_2015['Household Income']>0)&
                (ca_2015['Monthly Owner Cost']>0)&
                (ca_2015['Monthly Rent']>0)])

In [82]:
#looking for null value
ca_2015.isna().sum()

Zipcode                       0
Population                    0
Median Age                    0
Household Income              0
Per Capita Income             0
Poverty Rate                  0
Unemployment Rate             0
House Value                   0
House Construction Year       0
Monthly Owner Cost            0
Monthly Rent                  0
Public Transport Rate         0
Personal Transport Rate       0
Commute Time Public         865
Commute Time Car            865
High School Rate              0
College Rate                  0
Uneducated Rate               0
English Language Rate         0
Spanish Language Rate         0
White Population Rate         0
Black Population Rate         0
Hispanic Population Rate      0
Asian Population Rate         0
City                          0
County                        0
Lat                           0
Lng                           0
Housing_units                 0
State                         0
dtype: int64

In [83]:
#removing the rows with lat and lng missing value
ca_2015.dropna(subset=[ 'Monthly Rent'],inplace=True)

In [84]:
#filling nan to zero for commute time public and commute time car columns
ca_2015[['Commute Time Public', 'Commute Time Car' ]]=ca_2015[['Commute Time Public', 'Commute Time Car' ]].fillna(0)

In [85]:
#shape of the clean dataframe
ca_2015.shape

(1457, 30)

In [86]:
#saving csv file for plotting
#ca_2015.to_csv('output_census/ca_2015_fg.csv', index=False)

## 2017 US census data

In [87]:
# 2017 census data for all US zipcodes
#reading 2017 combined census data
path_comb_2017=os.path.join('output_census', 'census_comb_2017.csv')
usa_2017=pd.read_csv(path_comb_2017)

In [88]:
#looking for usa_2017 dataframe
usa_2017.head()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Rate,Unemployment Rate,House Value,House Construction Year,Monthly Owner Cost,...,White Population Rate,Black Population Rate,Hispanic Population Rate,Asian Population Rate,City,County,Lat,Lng,Housing_units,State
0,601,17599.0,38.9,11757.0,7041.0,64.105915,13.943974,82500.0,1981.0,748.0,...,77.765782,0.681857,99.624979,0.000,Adjuntas,Adjuntas Municipio,NaN,NaN,NaN,PR
1,602,39209.0,40.9,16190.0,8978.0,52.100283,6.473004,87300.0,1979.0,846.0,...,66.854549,2.785075,93.692775,0.000,Aguada,Aguada Municipio,18.36,-67.18,18073.0,PR
2,603,50135.0,40.4,16645.0,10897.0,50.216416,7.156677,122300.0,1977.0,867.0,...,71.225691,3.959310,97.466840,1.111,Aguadilla,Aguadilla Municipio,18.45,-67.11,25653.0,PR
3,606,6304.0,42.8,13387.0,5960.0,64.911168,3.236041,92700.0,1979.0,538.0,...,48.302665,2.538071,99.809645,0.000,Maricao,Maricao Municipio,18.20,-66.90,2877.0,PR
4,610,27590.0,41.4,18741.0,9266.0,45.498369,5.342515,90300.0,1979.0,733.0,...,61.754259,3.062704,97.317869,0.000,Anasco,Aasco Municipio,18.28,-67.13,12618.0,PR

In [89]:
#columns of 2017  dataframe
usa_2017.columns

Index(['Zipcode', 'Population', 'Median Age', 'Household Income',
       'Per Capita Income', 'Poverty Rate', 'Unemployment Rate', 'House Value',
       'House Construction Year', 'Monthly Owner Cost', 'Monthly Rent',
       'Public Transport Rate', 'Personal Transport Rate',
       'Commute Time Public', 'Commute Time Car', 'High School Rate',
       'College Rate', 'Uneducated Rate', 'English Language',
       'Spanish Language', 'White Population Rate', 'Black Population Rate',
       'Hispanic Population Rate', 'Asian Population Rate', 'City', 'County',
       'Lat', 'Lng', 'Housing_units', 'State'],
      dtype='object')

In [90]:
#shape of the dataframe
usa_2017.shape

(33120, 30)

In [91]:
#removing the rows with house value less than 1
usa_2017=(usa_2017[(usa_2017['House Value']>0)&
                (usa_2017['Household Income']>0)&
                (usa_2017['Monthly Owner Cost']>0)&
                (usa_2017['Monthly Rent']>0)])

In [92]:
#looking for null value
usa_2017.isna().sum()

Zipcode                         0
Population                      0
Median Age                      0
Household Income                0
Per Capita Income               0
Poverty Rate                    0
Unemployment Rate               0
House Value                     0
House Construction Year         0
Monthly Owner Cost              0
Monthly Rent                    0
Public Transport Rate           0
Personal Transport Rate         0
Commute Time Public         18540
Commute Time Car            18540
High School Rate                0
College Rate                    0
Uneducated Rate                 0
English Language            26474
Spanish Language            26474
White Population Rate           0
Black Population Rate           0
Hispanic Population Rate        0
Asian Population Rate           0
City                            0
County                          1
Lat                            16
Lng                            16
Housing_units                  16
State                           0
dtype: int64

In [93]:
#removing the rows with lat and lng missing value
usa_2017.dropna(subset=['Lat', 'Lng','Housing_units','County'], inplace=True)

In [94]:
#shape of the clean dataframe
usa_2017.shape

(26457, 30)

In [95]:
#info of the dataframe
usa_2017.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26457 entries, 1 to 33119
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Zipcode                   26457 non-null  int64
 1   Population                26457 non-null  float64
 2   Median Age                26457 non-null  float64
 3   Household Income          26457 non-null  float64
 4   Per Capita Income         26457 non-null  float64
 5   Poverty Rate              26457 non-null  float64
 6   Unemployment Rate         26457 non-null  float64
 7   House Value               26457 non-null  float64
 8   House Construction Year   26457 non-null  float64
 9   Monthly Owner Cost        26457 non-null  float64
 10  Monthly Rent              26457 non-null  float64
 11  Public Transport Rate     26457 non-null  float64
 12  Personal Transport Rate   26457 non-null  float64
 13  Commute Time Public       7928 non-null   float64
 14  Commute Time Car          7928 non-null   float64
 15  High School Rate          26457 non-null  float64
 16  College Rate              26457 non-null  float64
 17  Uneducated Rate           26457 non-null  float64
 18  English Language          0 non-null      float64
 19  Spanish Language          0 non-null      float64
 20  White Population Rate     26457 non-null  float64
 21  Black Population Rate     26457 non-null  float64
 22  Hispanic Population Rate  26457 non-null  float64
 23  Asian Population Rate     26457 non-null  float64
 24  City                      26457 non-null  object
 25  County                    26457 non-null  object
 26  Lat                       26457 non-null  float64
 27  Lng                       26457 non-null  float64
 28  Housing_units             26457 non-null  float64
 29  State                     26457 non-null  object
dtypes: float64(26), int64(1), object(3)
memory usage: 6.3+ MB

In [96]:
#describing the dataframe
usa_2017.describe()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Rate,Unemployment Rate,House Value,House Construction Year,Monthly Owner Cost,...,Uneducated Rate,English Language,Spanish Language,White Population Rate,Black Population Rate,Hispanic Population Rate,Asian Population Rate,Lat,Lng,Housing_units
count,26457.000000,26457.000000,26457.000000,26457.000000,26457.000000,26457.000000,26457.000000,2.645700e+04,2.645700e+04,26457.000000,...,26457.000000,0.0,0.0,26457.000000,26457.000000,26457.000000,26457.000000,26457.000000,26457.000000,26457.000000
mean,49337.731111,12099.950032,41.643331,57220.897305,29207.017160,14.102161,3.032802,1.906611e+05,-3.004053e+05,1376.881014,...,0.731682,NaN,NaN,82.644440,8.200941,10.058054,2.422394,38.776550,-90.703268,4967.255811
std,27458.095776,15356.788398,7.201611,23381.884740,12324.508319,9.068450,1.844226,1.699906e+05,1.419515e+07,579.011243,...,0.840944,NaN,NaN,20.522299,15.882034,16.664735,5.718828,5.297047,14.887476,5872.963915
min,602.000000,25.000000,16.200000,5902.000000,3534.000000,0.000000,0.000000,1.390000e+04,-6.666667e+08,331.000000,...,0.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,17.960000,-171.690000,23.000000
25%,27607.000000,1535.000000,36.900000,42115.000000,21919.000000,7.481267,1.867414,9.500000e+04,1.963000e+03,996.000000,...,0.172414,NaN,NaN,76.143134,0.147384,1.306447,0.000000,35.250000,-96.700000,769.000000
50%,49420.000000,4954.000000,41.400000,52250.000000,26597.000000,12.130178,2.757715,1.409000e+05,1.975000e+03,1196.000000,...,0.507862,NaN,NaN,91.106163,1.456067,3.735676,0.547476,39.660000,-88.000000,2246.000000
75%,71435.000000,17900.000000,45.800000,66091.000000,32913.000000,18.558051,3.833265,2.192000e+05,1.984000e+03,1557.000000,...,0.990741,NaN,NaN,96.641131,7.584706,10.290670,2.112676,42.180000,-80.200000,7587.000000
max,99929.000000,119204.000000,80.000000,250001.000000,154723.000000,81.612713,25.781250,2.000001e+06,2.012000e+03,4001.000000,...,14.062500,NaN,NaN,100.000000,100.000000,100.000000,74.248386,71.000000,-65.280000,47617.000000

In [97]:
usa_2017.columns

Index(['Zipcode', 'Population', 'Median Age', 'Household Income',
       'Per Capita Income', 'Poverty Rate', 'Unemployment Rate', 'House Value',
       'House Construction Year', 'Monthly Owner Cost', 'Monthly Rent',
       'Public Transport Rate', 'Personal Transport Rate',
       'Commute Time Public', 'Commute Time Car', 'High School Rate',
       'College Rate', 'Uneducated Rate', 'English Language',
       'Spanish Language', 'White Population Rate', 'Black Population Rate',
       'Hispanic Population Rate', 'Asian Population Rate', 'City', 'County',
       'Lat', 'Lng', 'Housing_units', 'State'],
      dtype='object')

In [98]:
usa_2017.drop(['Commute Time Car','Commute Time Public',
               'English Language','Spanish Language'], axis=1, inplace=True)

In [99]:
usa_2017.shape

(26457, 26)

In [100]:
#selecting only required columns
usa_2017_redu=usa_2017[['Population', 'Median Age', 'Household Income',
       'Per Capita Income', 'Poverty Rate', 'Unemployment Rate', 'House Value',
       'House Construction Year', 'Monthly Owner Cost', 'Monthly Rent',
       'Public Transport Rate', 'Personal Transport Rate',
        'High School Rate',
       'College Rate', 'Uneducated Rate', 'White Population Rate', 'Black Population Rate',
       'Hispanic Population Rate', 'Asian Population Rate', 'City', 
       'Lat', 'Lng', 'Housing_units']]

In [101]:
#saving csv file for machine learning
#usa_2017_redu.to_csv('output_census/usa_2017_ml.csv', index=False)

## 2017 California census data

In [102]:
#reading 2017 combined california census data
path_ca_2017=os.path.join('output_census', 'census_ca_2017.csv')
ca_2017=pd.read_csv(path_ca_2017)

In [103]:
#looking for usa_2017 dataframe
ca_2017.head()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Rate,Unemployment Rate,House Value,House Construction Year,Monthly Owner Cost,...,White Population Rate,Black Population Rate,Hispanic Population Rate,Asian Population Rate,City,County,Lat,Lng,Housing_units,State
0,90001,58738.0,28.7,35660.0,11882.0,31.757976,4.974633,305500.0,1949.0,1695.0,...,32.367462,9.164425,89.841329,0.224727,Los Angeles,Los Angeles County,33.97,-118.25,13788.0,CA
1,90002,52856.0,27.7,34000.0,11807.0,33.666944,5.032541,272400.0,1951.0,1678.0,...,37.683517,21.569926,76.420842,0.565688,Los Angeles,Los Angeles County,33.95,-118.25,12598.0,CA
2,90003,70490.0,28.2,34397.0,11305.0,32.929494,5.440488,300700.0,1951.0,1688.0,...,29.767343,22.383317,76.766917,0.285147,Los Angeles,Los Angeles County,33.96,-118.27,17127.0,CA
3,90004,62733.0,35.1,46581.0,30590.0,19.104777,4.182806,918500.0,1943.0,3467.0,...,37.758437,4.055282,51.350964,25.074522,Los Angeles,Los Angeles County,34.08,-118.31,24278.0,CA
4,90005,39562.0,35.4,32461.0,21566.0,28.562762,5.156463,713400.0,1949.0,3067.0,...,20.335170,6.228199,49.519741,34.823821,Los Angeles,Los Angeles County,34.06,-118.31,16345.0,CA

In [104]:
#columns of 2017  dataframe
ca_2017.columns

Index(['Zipcode', 'Population', 'Median Age', 'Household Income',
       'Per Capita Income', 'Poverty Rate', 'Unemployment Rate', 'House Value',
       'House Construction Year', 'Monthly Owner Cost', 'Monthly Rent',
       'Public Transport Rate', 'Personal Transport Rate',
       'Commute Time Public', 'Commute Time Car', 'High School Rate',
       'College Rate', 'Uneducated Rate', 'English Language',
       'Spanish Language', 'White Population Rate', 'Black Population Rate',
       'Hispanic Population Rate', 'Asian Population Rate', 'City', 'County',
       'Lat', 'Lng', 'Housing_units', 'State'],
      dtype='object')

In [105]:
#shape of the dataframe
ca_2017.shape

(1763, 30)

In [106]:
#removing the rows with house value less than 1
ca_2017=(ca_2017[(ca_2017['House Value']>0)&
                (ca_2017['Household Income']>0)&
                (ca_2017['Monthly Owner Cost']>0)&
                (ca_2017['Monthly Rent']>0)])

In [107]:
#looking for null value
ca_2017.isna().sum()

Zipcode                        0
Population                     0
Median Age                     0
Household Income               0
Per Capita Income              0
Poverty Rate                   0
Unemployment Rate              0
House Value                    0
House Construction Year        0
Monthly Owner Cost             0
Monthly Rent                   0
Public Transport Rate          0
Personal Transport Rate        0
Commute Time Public          862
Commute Time Car             862
High School Rate               0
College Rate                   0
Uneducated Rate                0
English Language            1477
Spanish Language            1477
White Population Rate          0
Black Population Rate          0
Hispanic Population Rate       0
Asian Population Rate          0
City                           0
County                         0
Lat                            0
Lng                            0
Housing_units                  0
State                          0
dtype: int64

In [108]:
#removing the rows with lat and lng missing value

In [109]:
#filling nan to zero for commute time public and commute time car columns
ca_2017[['Commute Time Public', 'Commute Time Car' ]]=ca_2017[['Commute Time Public', 'Commute Time Car' ]].fillna(0)

In [110]:
#shape of the clean dataframe
ca_2017.shape

(1477, 30)

In [111]:
#saving csv file for plotting
#ca_2017.to_csv('output_census/ca_2017_fg.csv', index=False)

## 2019 US census data

In [112]:
# 2019 census data for all US zipcodes
#reading 2019 combined census data
path_comb_2019=os.path.join('output_census', 'census_comb_2019.csv')
usa_2019=pd.read_csv(path_comb_2019)

In [113]:
#looking for usa_2014 dataframe
usa_2019.head()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Rate,Unemployment Rate,House Value,House Construction Year,Monthly Owner Cost,...,White Population Rate,Black Population Rate,Hispanic Population Rate,Asian Population Rate,City,County,Lat,Lng,Housing_units,State
0,601,17113.0,41.9,14361.0,7493.0,61.660726,11.500029,83900.0,1981,771.0,...,73.721732,1.063519,99.643546,0.011687,Adjuntas,Adjuntas Municipio,NaN,NaN,NaN,PR
1,602,37751.0,42.9,16807.0,9694.0,49.410612,3.761490,85300.0,1978,877.0,...,85.240126,2.405234,92.469074,0.000000,Aguada,Aguada Municipio,18.36,-67.18,18073.0,PR
2,603,47081.0,42.1,16049.0,11259.0,50.319662,6.790425,118400.0,1980,832.0,...,79.350481,3.215735,97.368365,0.229392,Aguadilla,Aguadilla Municipio,18.45,-67.11,25653.0,PR
3,606,6392.0,44.3,12119.0,6093.0,65.472466,2.643930,80800.0,1978,526.0,...,45.525657,1.439299,99.155194,0.000000,Maricao,Maricao Municipio,18.20,-66.90,2877.0,PR
4,610,26686.0,42.7,19898.0,10572.0,45.731844,3.855954,87600.0,1978,751.0,...,82.597617,1.727498,95.061081,0.000000,Anasco,Aasco Municipio,18.28,-67.13,12618.0,PR

In [114]:
#columns of 2014  dataframe
usa_2019.columns

Index(['Zipcode', 'Population', 'Median Age', 'Household Income',
       'Per Capita Income', 'Poverty Rate', 'Unemployment Rate', 'House Value',
       'House Construction Year', 'Monthly Owner Cost', 'Monthly Rent',
       'Public Transport Rate', 'Personal Transport Rate',
       'Commute Time Public', 'Commute Time Car', 'High School Rate',
       'College Rate', 'Uneducated Rate', 'English Language',
       'Spanish Language', 'White Population Rate', 'Black Population Rate',
       'Hispanic Population Rate', 'Asian Population Rate', 'City', 'County',
       'Lat', 'Lng', 'Housing_units', 'State'],
      dtype='object')

In [115]:
#shape of the dataframe
usa_2019.shape

(33120, 30)

In [116]:
#removing the rows with house value less than 1
usa_2019=(usa_2019[(usa_2019['House Value']>0)&
                (usa_2019['Household Income']>0)&
                (usa_2019['Monthly Owner Cost']>0)&
                (usa_2019['Monthly Rent']>0)])

In [117]:
#looking for null value
usa_2019.isna().sum()

Zipcode                         0
Population                      0
Median Age                      0
Household Income                0
Per Capita Income               0
Poverty Rate                    0
Unemployment Rate               0
House Value                     0
House Construction Year         0
Monthly Owner Cost              0
Monthly Rent                    0
Public Transport Rate           0
Personal Transport Rate         0
Commute Time Public         18583
Commute Time Car            18583
High School Rate                0
College Rate                    0
Uneducated Rate                 0
English Language            26239
Spanish Language            26239
White Population Rate           0
Black Population Rate           0
Hispanic Population Rate        0
Asian Population Rate           0
City                            0
County                          1
Lat                            16
Lng                            16
Housing_units                  16
State                           0
dtype: int64

In [118]:
#removing the rows with lat and lng missing value
usa_2019.dropna(subset=['Lat', 'Lng','Housing_units','County', 
                        'Public Transport Rate','Personal Transport Rate'], 
                         inplace=True)

In [119]:
#shape of the clean dataframe
usa_2019.shape

(26222, 30)

In [120]:
usa_2019.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26222 entries, 1 to 33119
Data columns (total 30 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Zipcode                   26222 non-null  int64
 1   Population                26222 non-null  float64
 2   Median Age                26222 non-null  float64
 3   Household Income          26222 non-null  float64
 4   Per Capita Income         26222 non-null  float64
 5   Poverty Rate              26222 non-null  float64
 6   Unemployment Rate         26222 non-null  float64
 7   House Value               26222 non-null  float64
 8   House Construction Year   26222 non-null  int64
 9   Monthly Owner Cost        26222 non-null  float64
 10  Monthly Rent              26222 non-null  float64
 11  Public Transport Rate     26222 non-null  float64
 12  Personal Transport Rate   26222 non-null  float64
 13  Commute Time Public       7652 non-null   float64
 14  Commute Time Car          7652 non-null   float64
 15  High School Rate          26222 non-null  float64
 16  College Rate              26222 non-null  float64
 17  Uneducated Rate           26222 non-null  float64
 18  English Language          0 non-null      float64
 19  Spanish Language          0 non-null      float64
 20  White Population Rate     26222 non-null  float64
 21  Black Population Rate     26222 non-null  float64
 22  Hispanic Population Rate  26222 non-null  float64
 23  Asian Population Rate     26222 non-null  float64
 24  City                      26222 non-null  object
 25  County                    26222 non-null  object
 26  Lat                       26222 non-null  float64
 27  Lng                       26222 non-null  float64
 28  Housing_units             26222 non-null  float64
 29  State                     26222 non-null  object
dtypes: float64(25), int64(2), object(3)
memory usage: 6.2+ MB

In [121]:
usa_2019.drop(['Commute Time Car','Commute Time Public'], axis=1, inplace=True)

In [122]:
usa_2019.shape

(26222, 28)

In [123]:
#selecting only required columns
usa_2019_redu=usa_2019[['Population', 'Median Age', 'Household Income',
       'Per Capita Income', 'Poverty Rate', 'Unemployment Rate', 'House Value',
       'House Construction Year', 'Monthly Owner Cost', 'Monthly Rent',
       'Public Transport Rate', 'Personal Transport Rate',
        'High School Rate',
       'College Rate', 'Uneducated Rate', 'White Population Rate', 'Black Population Rate',
       'Hispanic Population Rate', 'Asian Population Rate', 'City', 
       'Lat', 'Lng', 'Housing_units']]

In [124]:
#saving csv file for machine learning
#usa_2019_redu.to_csv('output_census/usa_2019_ml.csv', index=False)

## 2019 California census data

In [125]:
#reading 2019 combined california census data
path_ca_2019=os.path.join('output_census', 'census_ca_2019.csv')
ca_2019=pd.read_csv(path_ca_2019)

In [126]:
#looking for usa_2019 dataframe
ca_2019.head()

,Zipcode,Population,Median Age,Household Income,Per Capita Income,Poverty Rate,Unemployment Rate,House Value,House Construction Year,Monthly Owner Cost,...,White Population Rate,Black Population Rate,Hispanic Population Rate,Asian Population Rate,City,County,Lat,Lng,Housing_units,State
0,90001,59832.0,29.1,43360.0,13727.0,25.496390,3.929335,359000.0,1949,1853.0,...,41.882270,8.921647,90.134042,0.315884,Los Angeles,Los Angeles County,33.97,-118.25,13788.0,CA
1,90002,53302.0,28.0,37285.0,13284.0,31.188323,4.110540,345900.0,1954,1813.0,...,42.973997,18.912986,78.886346,1.029980,Los Angeles,Los Angeles County,33.95,-118.25,12598.0,CA
2,90003,73730.0,28.3,40598.0,13441.0,29.959311,4.002441,362800.0,1954,1892.0,...,33.116777,20.676794,78.348027,0.297030,Los Angeles,Los Angeles County,33.96,-118.27,17127.0,CA
3,90004,60541.0,35.2,49675.0,32090.0,17.784642,2.685783,1063200.0,1946,3489.0,...,35.676649,3.614080,50.289886,25.465387,Los Angeles,Los Angeles County,34.08,-118.31,24278.0,CA
4,90005,39732.0,35.6,38491.0,24267.0,25.999195,3.289540,777100.0,1950,3149.0,...,23.336354,5.763616,49.481526,34.221786,Los Angeles,Los Angeles County,34.06,-118.31,16345.0,CA

In [127]:
#columns of 2019  dataframe
ca_2019.columns

Index(['Zipcode', 'Population', 'Median Age', 'Household Income',
       'Per Capita Income', 'Poverty Rate', 'Unemployment Rate', 'House Value',
       'House Construction Year', 'Monthly Owner Cost', 'Monthly Rent',
       'Public Transport Rate', 'Personal Transport Rate',
       'Commute Time Public', 'Commute Time Car', 'High School Rate',
       'College Rate', 'Uneducated Rate', 'English Language',
       'Spanish Language', 'White Population Rate', 'Black Population Rate',
       'Hispanic Population Rate', 'Asian Population Rate', 'City', 'County',
       'Lat', 'Lng', 'Housing_units', 'State'],
      dtype='object')

In [128]:
#shape of the dataframe
ca_2019.shape

(1763, 30)

In [129]:
#removing the rows with house value less than 1
ca_2019=(ca_2019[(ca_2019['House Value']>0)&
                (ca_2019['Household Income']>0)&
                (ca_2019['Monthly Owner Cost']>0)&
                (ca_2019['Monthly Rent']>0)])

In [130]:
#looking for null value
ca_2019.isna().sum()

Zipcode                        0
Population                     0
Median Age                     0
Household Income               0
Per Capita Income              0
Poverty Rate                   0
Unemployment Rate              0
House Value                    0
House Construction Year        0
Monthly Owner Cost             0
Monthly Rent                   0
Public Transport Rate          0
Personal Transport Rate        0
Commute Time Public          832
Commute Time Car             832
High School Rate               0
College Rate                   0
Uneducated Rate                0
English Language            1460
Spanish Language            1460
White Population Rate          0
Black Population Rate          0
Hispanic Population Rate       0
Asian Population Rate          0
City                           0
County                         0
Lat                            0
Lng                            0
Housing_units                  0
State                          0
dtype: int64

In [131]:
#removing the rows with lat and lng missing value

In [132]:
#filling nan to zero for commute time public and commute time car columns
ca_2019[['Commute Time Public', 'Commute Time Car' ]]=ca_2019[['Commute Time Public', 'Commute Time Car' ]].fillna(0)

In [133]:
#shape of the clean dataframe
ca_2019.shape

(1460, 30)

In [134]:
#saving csv file for plotting
ca_2019.to_csv('output_census/ca_2019_fg.csv', index=False)

In [136]:
#saving csv file for machine learning
#ca_2019.to_csv('output_census/ca_2019_ml.csv', index=False)